<h1>{{mititulo}}</h1>
<hr>
<h3>Número de Matriculas {{ numero_matriculas }}</h3>
<hr>
[<a href="{% url 'crear_matricula' %}">nuevo</a>]
<hr>
<table border="1px">
  <tr>
    <th><b>Estudiante</b></th>
    <th><b>Módulo</b></th>
    <th><b>Comentario</b></th>
    <th><b>Costo</b></th>
    <th><b>Opciones</b></th>
  </tr>
  {% for e in matriculas %}
  <tr>
    <td>
      {{e.estudiante.nombre}}
      [<a href="{% url 'detalle_estudiante' e.estudiante.id %}">+</a>]
    </td>
    <td>
      {{e.modulo.nombre}}
    </td>
    <td>
      {{e.comentario}}
    </td>
    <td>
      {{e.costo}}
    </td>
    <td>
      [<a href="{% url 'detalle_matricula' e.id %}">ver</a>]
      [<a href="{% url 'editar_matricula' e.id %}">editar</a>]
    </td>
  </tr>
  {% endfor %}

</table>
<br>
<br>
[<a href="{% url 'listar_estudiantes'%}">Lista Estudiantes</a>]

<br>
<br>

<hr>
<h3>Número de Estudiantes {{ numero_estudiantes }}</h3>
<hr>
<hr>
<table border="1px">
  <tr>
    <th><b>Nombre</b></th>
    <th><b>Apellido</b></th>
    <th><b>Cédula</b></th>
    <th><b>Edad</b></th>
    <th><b>Tipo</b></th>
    <th><b>Matricula</b></th>
    <th><b>Costo Total</b></th>
  </tr>
  {% for e in estudiantes %}
  <tr>
    <td>
      {{e.nombre}}
    </td>
    <td>
      {{e.apellido}}
    </td>
    <td>
      {{e.cedula}}
    </td>
    <td>
      {{e.edad}}
    </td>
    <td>
      {{e.tipo_estudiante}}
    </td>
    <td>
      {% for m in e.lasmatriculas.all %}
        • {{ m.modulo }}<br>
        &nbsp;&nbsp;Costo: ${{ m.costo }}<br><br>
      {% empty %}
        No tiene matrículas
      {% endfor %}
    </td>
    <td>${{ e.obtener_costo_total }}</td>
  </tr>
  {% endfor %}

</table>