<h1>{{mititulo}}</h1>
<hr>
<h3>Número de estudiantes {{ numero_estudiantes }}</h3>
<hr>
<hr>
<table border="1px">
  <tr>
    <th><b>Nombre</b></th>
    <th><b>Apellido</b></th>
    <th><b>Cedula</b></th>
    <th><b>Edad</b></th>
    <th><b>Tipo</b></th>
    <th><b>Matricula</b></th>
  </tr>
  {% for e in estudiantes %}
  <tr>
    <td>
      {{e.nombre}}
    </td>
    <td>
      {{e.apellido}}
    </td>
    <td>
      {{e.cedula}}
    </td>
    <td>
      {{e.edad}}
    </td>
    <td>
      {{e.tipo_estudiante}}
    </td>
    <td>
      {% for m in e.lasmatriculas.all %}
        • Módulo: {{ m.modulo.nombre }}<br>
        &nbsp;&nbsp;Costo: ${{ m.costo }}<br><br>
      {% empty %}
        No tiene matrículas
      {% endfor %}
    </td>
  </tr>
  {% endfor %}

</table>

[<a href="{% url 'index' %}">inicio</a>]